{% extends "AfpaChessGameBundle::layout.html.twig" %}

{% block title %}AfpaChessGameBundle:Game:plays{% endblock %}

{% block body %}
    <h1>Welcome at the Game:plays page</h1>
    <table width ="80%" border="1" cellpadding="0" cellspacing="0">
        <thead>
            <tr style="width:100%">
                <th>ID GAME</th>
                <th>CREATED DATE</th>
                <th>NUMBER OF PLAYERS</th>
                <th>ACTION</th>
            </tr>
        </thead>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.createdDate | date('d|m|Y')}}</td>
                <td>{{ game.getUsers|length }}</td>
                <td> {% if game.getUsers|length < 2 %}
                    <a href = "{{path('home')}}">Join</a> <br/>
                {%else%}
                    <a href = "{{path('home')}}">Watch</a> </td>
            <br/>
            {%endif%} </td>
        </tr>
        {% endfor %}
            {% endblock %}


