<h2>OPTIONS</h2>
<form method="POST" >
    {{ form_widget(form) }}
</form>
<p> {{player}}</p>

<table id="board" data-id="{{ idGame }}">
    <thead>
    </thead>
    <tbody>
        {% for x in (0..board|length-1) %}
            <tr>
                {% for y in (0..board|length-1) %}
                    <td id="td_{{x}}_{{y}}" data-x="{{ x }}" data-y="{{ y }}"  class="td_{{ ((x+y) % 2 == 0) ? 'light' : 'dark' }}">
                        {% if board[x][y] %}
                            <img class="piece {{theme}}" src="{{ asset('bundles/afpachessgame/images/'~ theme ~'/' ~ board[x][y]) }}" />
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
