<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}CHESS GAME{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
        {% endblock %}
        {% block redirection %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{asset("bundles/afpachessgame/css/global.css")}}" />

        <script type="text/javascript" src="{{ asset('bundles/afpachessgame/js/jquery-1.12.3.js') }}"></script>
        <script>
            var baseUrl = "{{ app.request.getBaseURL() }}";
            var baseUrlParts = baseUrl.split('/');
            //retirer le dernier element de l'url : app_dev.php : .pop
            //derniere cellule vide => faire pop
            // pour gerer si quelu'un ajoute un "/" :
            if (baseUrlParts[baseUrlParts.length - 1] === '') {
                baseUrlParts.pop();
            }
            //Ajout / a la fin de la chaine de cara
            var START_URL = baseUrlParts.join('/');
        </script>
        <script type="text/javascript" src="{{ asset('bundles/afpachessgame/js/functions.js') }}"></script>
    </head>
    <body>
        <header>
            <div id="titre_principal">
                <h1>CHESS GAME</h1>
            </div>



            <div id="login">
                {% if app.request.session.get('oUser') is not null %}
                    Connecté sous {{ app.request.session.get('oUser').nickname }}
                    <br />
                    <a href="{{path('logout')}}"> Logout</a>
                {% else %}
                    <a href="{{path('register')}}"> Register</a><br />
                    <a href="{{path('login')}}"> Login</a><br />
                {% endif %}
            </div>

            {% block img %}  {% endblock %}
            <div>
                <nav>
                    <ul>
                        <li><a href="{{ path("home")}}">Home</a></li>
                        <li><a href="{{ path("credits")}}">Credits</a></li>
                        <li><a href="{{ path("rules")}}">Rules</a></li>
                        <li><a href="{{ path("game_list")}}">Games in play</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {% block body %}

        {% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
