<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Chess Game{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{asset("bundles/afpachessgame/css/global.css")}}" />

        <script type="text/javascript" src="{{ asset('bundles/afpachessgame/js/jquery-1.12.3.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/afpachessgame/js/script.js') }}"></script>

    </head>
    <body>
        <header>
            <div id="titre_principal">
                <div id="logo">
                    <img src="{{asset("bundles/AfpaChessGame/images/default/logo.jpg")}}"/>
                    <h1>Chess Game</h1>
                </div>
            </div>

            <div>
                {% if app.request.session.get('oUser') is not null %}
                    Connecté sous {{ app.request.session.get('oUser').nickname }}
                    <br />
                    <a href="{{path('logout')}}"> Logout</a>
                {% else %}
                    <a href="{{path('register')}}"> Register</a><br />
                    <a href="{{path('login')}}"> Login</a><br />
                {% endif %}
            </div>

            <nav>
                <ul>
                    <li><a href="{{ path("home")}}">Accueil</a></li>
                    <li><a href="{{ path("credits")}}">Credits</a></li>
                    <li><a href="{{ path("rules")}}">Rules</a></li>
                    <li><a href="{{ path("plays")}}">Game Plays</a></li>
                </ul>
            </nav>

            {% block img %}  {% endblock %}
        </header>
        {% block body %}
        {% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
