{% extends "AfpaChessGameBundle::layout.html.twig" %}

{% block title %}AfpaChessGameBundle:Game:plays{% endblock %}
{% block redirection %}
    <meta http-equiv="refresh" content="2; URL={{ url('game_list') }}">
{% endblock %}

{% block body %}
    <h1>Welcome at the Online Game page</h1>

    {% if app.request.session.get('oUser') is not null %}
        <a href = "{{path('game_create')}}">Start a new game</a>
    {% else %}
        <a href = "{{path('login')}}">Login to start a new game</a>
    {% endif %}
    <br/>
    <table width ="80%" border="1" cellpadding="0" cellspacing="0">
        <thead>
            <tr style="width:100%">
                <th>ID GAME</th>
                <th>CREATED DATE</th>
                <th>NUMBER OF PLAYERS</th>
                <th>ACTION</th>
            </tr>
        </thead>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.createdDate | date('Y-m-d H:i:s')}}</td>
                <td>{{ game.getUsers|length }} / 2</td>
                <td>
                    {% if (game_user is not null) and game_user.id == game.id %}
                        En attente de joueurs

                    {% elseif (game.getUsers|length < 2) %}
                        {% if app.request.session.get('oUser') is not null %}
                            <a href="{{path('game_join', {idGame : game.id})}}">Join</a><br />
                        {% else %}
                            <a href="{{path('login')}}">Login to play</a><br />
                        {% endif %}

                    {% else %}
                        <a href = "{{ path('game_play', {idGame : game.id}) }}">Watch</a>
                    {%endif%}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}


